  //* * * * * * * * * * * * * * *//
 //* 22Lab-light theme Colors *//
//* * * * * * * * * * * * * *//
$color-point: #46C7C0;
$color-light: #D6DFE8;
$color-dark: #3A3049;
$color-deepred: #703644;
$color-lightred: #BF776F;
$color-bright: #DEDED3;

$base-text: 14px;
$base-margine: $base-text * 1.5;

  //* * * * * *//
 //* Mixins *//
//* * * * *//

@mixin v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin my-transtionanim {
  @include transition(all .2s ease-in 0s);
}

@mixin link-border($color, $size:2) {
  @include border-color(null null $color null);
  @include border-style(null null solid null);
  @include border-width(null null rem($size) null);
}

@mixin form-border($color, $size:4) {
  @include border-color(null null null $color);
  @include border-style(null null null solid);
  @include border-width(null null null rem($size));
}

@mixin my-h {
  background-color: $color-1;
  display: inline-block;

  padding: 0 rem(15);
}

@mixin section-padding {
  padding: $base-margin * 4 0;
}


   //* * * * * * * * *//
  //* Base Coloring *//
 //* * * * * * * * *//

html{
  margin: 0;
  padding: 0;

  overflow: auto;
}

::selection {
  background-color: $color-lightred;
}
::-moz-selection{
  background-color: $color-lightred;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $color-dark;

	color: $color-light;
}

p {
  margin: 0;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: $color-lightred;

  @include my-transtionanim;

  &:hover {
    @include link-border($color-lightred, 2);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#container {
  position: relative;
}


  //* * * * * * * *//
 //* Grid Layout *//
//* * * * * * * *//

@mixin container($width:550) {
	position: relative;
	@include outer-container( rem($width) );

	padding: 0 rem(16);
}

$bp-desktop: new-breakpoint(min-width 1024px);
$bp-medium: new-breakpoint(max-width 1023px);
$bp-mobile: new-breakpoint(max-width 559px);
$bp-max-h: new-breakpoint(max-height 719px);


  //* * * * *//
 //* Forms *//
//* * * * *//

form {
  input{
    background-color: $color-bright;
    color: $color-dark;

    @include size(100% ($base-margin*2));

    padding-left: rem(15);
    outline: none;
    border: none;

    @include my-transtionanim;

    &:focus {
      @include form-border($color-point);
    }
  }/* end of input */

  textarea {
    background-color: $color-bright;
    color: $color-dark;

    height: $base-margin*3.3;
    width: 100%;
    max-width: 100%;

    padding-left: rem(15);
    padding-top: rem(15);

    outline: none;
    border: none;

    @include my-transtionanim;

    &:focus {
      @include form-border(color-point);
    }
  }/* end of textarea */

}/* forms */


  //* * * * * *//
 //* Modules *//
//* * * * * *//

.btn {
  background-color: $color-dark;
  color: $color-bright;

  border: none;
  outline: none;

  padding: rem($base-margin/2) rem(24);

  @include my-transtionanim;

  float: left;

  @include media($bp-mobile) {
    width: 100%;
  }

  &.clear {
    background-color: $color-dark;
    margin-right: 1rem;

    @include media(bp-mobile) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  &.action {
    background-color: $color-point;
    color : $color-light;
  }

  &.hover {
    background-color: $color-dark;
    color: $color-light
  }

  &.active {
    background-color: $color-dark;
    color: $color-light;
  }
} /* end of btn */

.scroll-icon {
  position: absolute;
  width: 100%;

  text-align: center;
  bottom: $base-margin;

  @include media($bp-medium) {
    display: none;
  }

  @include media($bp-mobile) {
    display: none;
  }

  @include media($bp-max-h) {
    display: none;
  }

  figure {
    margin: 0;

    svg {
      fill: $color-light;

      .wheel {
        @keyframes flash {
          from {fill: $color-bright}
          to {fill: $color-point}
        }
        fill: $color-deepred;

        @include animation(flash 1s ease infinite alternate);
      }
    }/* end of svg */
  }/* end of figure */

  i {
    @include size(rem($base-margin*2.2));
    line-height: rem($base-margin*2.2);

    font-size: rem(32);
    color: $color-bright;

    @keyframes scroll {
      from{margin-bottom: rem(24);}
      to{margin-bottom: 0;}
    }

    @include animation(scroll 1s ease-out infinite alternate);

    &.animate {
      @include animation(scroll 1s ease-out infinite);
    }
  }

}/* end of scroll-icon */

.social-links{
  margin-bottom: $base-margin;

  @include container;

  @include media($bp-mobile) {
    margin-bottom: $base-margin;
  }

  a {
    display: inline-block;

    background-color: $color-bright;
    color: $color-dark;

    @include size(base-margin*2.2);
    line-height: $base-margin*2.2;

    margin-right: rem(15);

    @include media($bp-mobile) {
      @include size($base-margin * 1.6);
      line-height: $base-margin * 1.6;

      margin-right: rem(8);
    }

    @include my-transtionanim

    &:last-of-type {
      margin-right: 0;
    }

    i {
      font-size: rem(20);
      text-align: center;
    }

    &:hover {
      background-color: $color-dark;
      color: $color-bright;
      border: none;

      @include media($bp-mobile) {
        background-color: $color-bright;
        color: $color-dark;
      }
    }

    &:active {
      @include media($bp-mobile) {
        background-color: $color-dark;
        color: $color-bright;
      }
    }

  }
}


  //* * * * * *//
 //* Section *//
//* * * * * *//

.section {
  position: absolute;
  @include size(100%);

  @include media($bp-medium) {
		position: relative;
    height: 100vh;

		@include section-padding;
	}

  @include media($bp-mobile) {
		position: relative;
    height: auto;

		@include section-padding;
	}

	@include media($bp-max-h) {
		position: relative;
    height: auto;

		@include section-padding;
	}

  .section-container {
		@include v-center;

    @include media($bp-mobile) {
			top: 0;
			transform: none;
	  }

		@include media($bp-max-h) {
			top: 0;
			transform: none;
	  }
  }
}


  //* * * * * *//
 //* Navibar *//
//* * * * * *//

#nav-bar {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
	height: 100%;

  z-index: 9999;

  @include media($bp-medium) {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: $color-point;
  }

  @include media($bp-mobile) {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: $color-point;
  }

  @include media($bp-max-h) {
    display: block;
    position: fixed;
    height: auto;
    width: 100%;
    background-color: $color-point;
  }

  .nav-container {
    @include v-center;
    padding: rem(50);
    text-align: center;

    @include media($bp-medium) {
      transform: none;
      top: 0;
      padding: 0;
    }

    @include media($bp-mobile) {
      transform: none;
      top: 0;
      padding: 0;
    }

    @include media($bp-max-h) {
      transform: none;
      top: 0;
      padding: 0;
    }

    .toggle-nav {
      display: none;
      position: fixed;
      z-index: 9999;

      top: 0;
      left: 0;

      height: auto;
      width: 100%;
      text-align: center;

      background-color: $color-point;
      padding: rem(10);

      @include media($bp-mobile) {
        display: block;
        position: relative;
      }

      i {
        color: $color-bright;
        font-size: rem(48);

        &:hover {
          border: none;
        }

        &:active {
          color: $color-dark;
        }
      }

    }

    ul {
      @include media($bp-mobile) {
        display: none;
      }

      li {
        text-align: center;

        @include media($bp-medium) {
          display: inline-table;
        }

        @include media($bp-max-h) {
          display: inline-table;
        }

        @include media($bp-mobile) {
          display: block;
        }

        a {
          color: $color-bright;
          display: block;
          text-transform: uppercase;

          padding: rem(15) rem(15);

          @include media($bp-medium) {
            cursor: pointer;
          }

          @include media($bp-max-h) {
            cursor: pointer;
          }

          @include media($bp-mobile) {
            font-size: rem(32);
            padding: rem(15) rem(10);
            cursor: pointer;
          }

          &:hover {
            border: none;
            color: $color-bright;

            @include media($bp-medium) {
              color: $color-dark;
            }

            @include media($bp-mobile) {
              color: $color-bright;
            }

            @include media($bp-max-h) {
              color: $color-bright;
            }
          }

        }

        &.active {
          a {
            background-color: $color-point;
            color: $color-bright;

            @include media($bp-medium) {
              background-color: $color-deepred;
              border: none;
              color: $color-bright;
            }

            @include media($bp-mobile) {
              background-color: $color-deepred;
              color: $color-bright;
            }

            @include media($bp-max-h) {
              background-color: $color-deepred;
              color: $color-bright;
            }

            &:hover {
              @include media($bp-max-h) {
                color: $color-dark;
              }
            }

          }
        }
      }
    }
  }
}

/* * * * * Home * * * * * */
#home {
	background-image: url();
	background-size: cover;

	text-align: center;
	z-index: 99;

  .profile {
    @include container;

    margin-bottom: $base-margin;

    .profile-img {
      color: transparent;
      background-image: url();
      background-size: contain;

      @include size(rem(168));
      margin: 0 auto $base-margin auto;

      box-shadow: 0 rem(1) rem(2) $dark;

      @include my-transtionanim;

      @include media($bp-medium) {
        @include size(rem(168));
      }

      @include media($bp-mobile) {
        @include size(rem(132));
      }
    }

    h1 {
      font-size: rem(56);
      margin-bottom: 0;

      background-color: $color-lightred;
      color: $color-bright;
      text-shadow: rem(4) rem(4) $color-dark;

      display: inline-block;
      padding: rem(5) rem(20);

      @include my-transtionanim;

      @include media($bp-medium) {
        font-size: rem(48);
      }

      @include media($bp-mobile) {
        font-size: rem(36);
        text-shadow: rem(3) rem(3) $color-dark;
      }
    }

    p {
      u {
        display: inline-block;
        color: $color-bright;
        background-color: $color-lightred;
        padding: rem(5) rem(20);
        text-decoration: none;

        @include media($bp-mobile) {
          // font-size: .8rem;
        }
      }
    }

  }
}


/* * * * About * * * */
#about {
  background-image: url();
  background-size: cover;

	text-align: center;
	z-index: 98;

  .intro {
    @include container;
    margin-bottom: $base-margin * 2;

    h1 {
      font-size: rem(32);
      color: $color-bright;

      @include media($bp-medium) {
        font-size: rem(26);
      }
    }

    p {
      margin: 0 auto;
    }

  }

  .skills {
    @include container;

    h2 {
      @include my-h;
    }

    ul {
      text-align: center;

      li {
        position: relative;
        display: inline-block;
        width: rem(250);

        margin-bottom: $base-margin;

        &:last-child {
          margin-bottom: 0;
        }

        @include media($bp-mobile) {
          display: block;
          width: auto;
        }

        .skill-bar {
          position: relative;
          margin: $base-margin auto 0 auto;

          li {
            position: relative;
            display: inline-block;
            width: rem(240);
            background-color: $color-dark;

            padding: rem(10);
            margin-bottom: rem(10);

            &:last-child {
              margin-bottom: 0;
            }

            @include media($bp-mobile) {
              display: block;
              width: auto;
            }

            span {
              position: absolute;
              z-index: 1;
              left: 0;
              top: 0;
              height: 100%;

              background-color: $color-lightred;
              overflow: hidden;

              font-size: 1px;
              text-indent: -9999px;
            }

            u {
              position: relative;
              z-index: 2;

              text-decoration: none;
              color: $color-bright;
            }

          }
        }
      }
    }
  }

}


/* * * * * Portfolio * * * * */
#portfolio {
  background-image: url();
  background-size: cover;

	text-align: center;
	z-index: 97;

  .title {
    @include container;

    h2 {
      @include my-h;
    }
  }

  .thumbnails {
    @include container;

    ul {
      li {
        position: relative;
        display: inline-block;
        a {
          position: relative;
          display: block;
          @include size(rem(250));
          padding: 0;
          overflow: hidden;

          img {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 100%;
          }

          span {
            position: absolute;
            z-index: 2;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;

            background-color: $color-dark;
            color: $color-bright;

            opacity: 0;
            @include transition;
            padding: $base-margin rem(10);

            h2 {
              margin-top: 0;
              color: $color-point;
            }

            p {
              color: $color-bright;
              margin-bottom: $base-margin;
            }

            i {
              font-size: rem(32);
            }
          }

          &:hover {
            border: none;
            img {}
            span {
              opacity: .8;
            }
          }

        }
      }
    }
  }
}


/* * * * * Contact  * * * * */
#contact {
  background-image: url();
  background-size: cover;
	text-align: center;

	z-index: 96;
  .title {
    @include container;
    margin-bottom: $base-margin;

    @include media($bp-max-h) {
      margin-top: 0;
    }

    h2 {
      @include my-h;
    }
  }

  .form-container {
    @include container;

    .form-group {
      margin-bottom: $base-margin;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

  }
}
